*.swp
*~
*.pyc
dev.db
*.egg-info
/coverage
chromedriver.log
build/
src/
pip-log.txt
*DS_Store
*.egg-info
doc_src/_build
MANIFEST
dist/
example/media/
local_settings.py
docs/_build/
src/
pip-log.txt
.buildinfo